services:
  - type: web
    name: jobbridge-backend
    env: node
    region: oregon
    plan: free
    rootDir: JOBBRIDGE-AFRICA/backend
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRE
        value: 7d
      - key: COOKIE_EXPIRE
        value: "7"
      - key: CLOUDINARY_CLIENT_NAME
        sync: false
      - key: CLOUDINARY_CLIENT_API
        sync: false
      - key: CLOUDINARY_CLIENT_SECRET
        sync: false
      - key: ALLOWED_ORIGINS
        value: https://www.jobbridgeafrica.org
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: EMAIL_FROM
        sync: false
      - key: ADMIN_EMAIL
        sync: false
      - key: EMAIL_HOST
        value: smtp.zoho.com
      - key: EMAIL_PORT
        value: "587"
      - key: EMAIL_SECURE
        value: "false"
      - key: SENDGRID_API_KEY
        sync: false
      - key: ADMIN_SETUP_TOKEN
        sync: false
