@import "tailwindcss";

@theme {
  --color-primary: #F4A300;
  --color-secondary: #006B3C;
  --color-accent: #D32F2F;
  --color-neutral: #F5F5F5;
  --color-text: #212121;
}

body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-out;
}
